# Exercícios de Pandas

### Importação

In [1]:
import pandas as pd

### 1 - Crie um Pandas DataFrame a partir de um dicionário contendo dados sobre funcionários (nome, idade, departamento, salário).

In [7]:
funcionarios = {
    'nome': ['Maria', 'Pedro', 'Luiz', 'Laura'],
    'idade': [22, 30, 18, 21],
    'departamento': ['Recursos Humanos', 'Manutenção', 'Suporte de TI', 'Manutenção'],
    'salario': [1500, 2000, 1800, 3000]
}

funcionarios_df = pd.DataFrame(funcionarios)
print(funcionarios_df)

    nome  idade      departamento  salario
0  Maria     22  Recursos Humanos     1500
1  Pedro     30        Manutenção     2000
2   Luiz     18     Suporte de TI     1800
3  Laura     21        Manutenção     3000

### 2 - Leia um arquivo CSV em um Pandas DataFrame e exiba as primeiras 10 linhas.

In [12]:
import os

caminho =  os.path.join(os.getcwd(), 'ex002_base.csv')

# Primeiro definimos o DataFrame como sendo uma tabela completa
df = pd.read_csv(caminho)

# Depois alteramos a visualização dela conforme a necessidade
print(df.head(10))

     Produto    Categoria  Preço  Quantidade  Data_Venda
0  Produto_A  Eletrônicos   1200           5  2023-01-15
1  Produto_B       Livros     35          20  2023-01-20
2  Produto_C       Roupas     80          10  2023-01-25
3  Produto_D  Eletrônicos    800           3  2023-02-01
4  Produto_E    Alimentos     15          50  2023-02-05
5  Produto_F       Livros     25          15  2023-02-10
6  Produto_G       Roupas    120           8  2023-02-15
7  Produto_H  Eletrônicos   2500           2  2023-02-20
8  Produto_I    Alimentos      8         100  2023-02-25
9  Produto_J       Livros     45          12  2023-03-01

### 3 - Selecione todos os funcionários do DataFrame no exercício 1 que estão no departamento de 'Marketing'.

In [9]:
tabela_funcionarios = pd.DataFrame(funcionarios)
print(tabela_funcionarios['departamento'] == 'Marketing')

0    False
1    False
2    False
3    False
Name: departamento, dtype: bool

### 4 - Calcule o salário médio para cada departamento no DataFrame do exercício 1.

In [10]:
tabela_funcionarios = pd.DataFrame(funcionarios)

tabela_departamentos = tabela_funcionarios[['departamento', 'salario']].groupby('departamento').mean()
print(tabela_departamentos)

                  salario
departamento
Manutenção         2500.0
Recursos Humanos   1500.0
Suporte de TI      1800.0

### 5 - Mescle dois DataFrames: um contendo informações do funcionário (ID, Nome, Departamento) e outro contendo dados de desempenho (ID, Classificação).

In [11]:
funcionarios = {
    'ID': [4, 2, 1, 3],
    'nome': ['Maria', 'Pedro', 'Luiz', 'Laura'],
    'departamento': ['Recursos Humanos', 'Manutenção', 'Suporte de TI', 'Financeiro']
}
desempenho = {
    'ID': [1, 2, 3, 4],
    'Classificação': ['A', 'B', 'C', 'D']
}

df1 = pd.DataFrame(funcionarios)
df2 = pd.DataFrame(desempenho)

df_geral = pd.merge(df1, df2)
print(df_geral)

   ID   nome      departamento Classificação
0   4  Maria  Recursos Humanos             D
1   2  Pedro        Manutenção             B
2   1   Luiz     Suporte de TI             A
3   3  Laura        Financeiro             C